#content p {
    text-align: center;
    width: 100%;
    max-width: 500px;
    color: #0089ff;
    font-size: 20px;
    margin: auto;
}

#signup-form input:last-child {
    margin-top: 10px;
    width: 385px
}
